<html>
  <body>
    <p>Greetings, <%= @user.username %>
    <p>Please click the link below to reset your password:</p>
    <%= link_to "Reset my password", password_reset_url(@user.token) %>
    <p>If you did not initiate this request, please ignore this email.</p>
  </body>
</html>
