<nav>
  <ul id="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Trading Post</a></li>
    <li><a href="#">Gem Exchange</a></li>
    <li><a href="#">Discuss</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <input type="text" placeholder="Search an item" />

  <div id="user_options">
    <%= link_to "Sign In", sign_in_path, class: "btn btn-default" %>
    <%= link_to "Register", new_user_path, class: "btn btn-default" %>
  </div>
</nav>
