<h2>Hello World!</h2>
<h3>Item JSON</h3>
<p><%= @item %></p>
<h3>Listing JSON</h3>
<p><%= @listing %></p>

<img src="<%= @item['icon'] %>" />

<input type="submit" value="Save!" class="btn btn-primary" />
