<div id="threads">
  <%= link_to "New Thread", new_post_path, class: "btn btn-primary" %>
  <ul>
    <li>
      <div class="thread_details">
        <h4><a href="#">Copper-o-matic is 50% off the TP!</a> <small>Posted 10 minutes ago by <a href="#">SeraphimSwordmaster</a></small></h4>
        <p>10 Comments</p>
      </div>
    </li>
    <li>
      <div class="thread_details">
        <h4><a href="#">Crystalline Wings gone in 10 hours!</a> <small>Posted 1 hour ago</small></h4>
        <p>10 Comments</p>
      </div>
    </li>
    <li>
      <div class="thread_details">
        <h4>Gems are now at an all-time high.. <small>Posted 20 hours ago</small></h4>
        <p>10 Comments</p>
      </div>
    </li>
  </ul>
</div>
