<ul id="ui_directory">
  <li><a href="ui/home">Home Page</a></li>
  <li><a href="ui/tradingpost">Trading Post Listings</a></li>
  <li><a href="ui/user_registration">User Registration</a></li>
  <li><a href="ui/user_login">User Login</a></li>
  <li><a href="ui/forums">Forums</a></li>
  <li><a href="ui/donate">Donations</a></li>
</ul>
