body
  background: no-repeat center url(asset-path('background.jpg'))
  background-attachment: fixed

section
  min-height: 1080px
  max-width: 1200px
  margin: 0 auto

#ui_directory, #gem_exchange_rates, #legendary_for_gems, #forgot_password
  padding: 25px
  margin-bottom: 15px
  background: rgba(255, 255, 255, .75)
  border-radius: 5px
  ul
    list-style: none
